<h1>Reggae</h1>
<p>Pick a Reggae artist.</p>

<%= button_to "Bob Marley", questions_path, :method => "get" %>
<%= button_to "Beanie Man", questions_path, :method => "get" %>
<%= button_to "Damien Marley", questions_path, :method => "get" %>