<!-- THIS DOES NOT RANDOMIZE THE VIDEO. IT IS COMMENTED OUT. -->

<!-- <section class="home">

<div class="youtube">

<div class="dash">
	<h1>Your Dashboard</h1>
</div><!-- dash -->

	<div id="player"></div>
	<div id="options">
		


	</div>
</div>

			<% @question.options.each do |option| %>
			  <%= option %>
			<% end %>
	</div><!-- player -->
</div><!-- options -->



<div class="start">



<%= button_to 'Start Game', categories_path, :id => "open-contacts-dialog-btn",
:class => "inbox-sf-add-btn tip", :method => :get %>



</div>
</section>

</div><!-- start -->
</section><!-- home -->

<section class="home-content">

</section><!-- home-content -->

