

<%= button_to 'Start Game', categories_path, :id => "open-contacts-dialog-btn",
:class => "button", :method => :get %>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/ESHERXYHC0.jpg" alt="something">
      <div class="caption">
        <h3>Hip Hop</h3>
        <p>Cupcake ipsum dolor sit.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/PYOYP07N8T.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/MKRJQ6V917.jpg" alt="mixer">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/ESHERXYHC0.jpg" alt="mixer">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/6REQ95CNQ8.jpg" alt="mixer">
    </a>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/O48AVVP4L8.jpg" alt="mixer">
      <div class="caption">
        <h3>Thumbnail label</h3>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/L695JG265J.jpg" alt="mixer">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/RJWNF1GVHZ.jpg" alt="mixer">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://stocksnap.io/img-thumbs/280h/57BE1EA682.jpg" alt="mixer">
    </a>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>