
<!-- Displays a leaderboard for Players -->
<section class="home-content">
  <div class="leader_board">
  <h1>LeaderBoard</h1>
</div>
  <table border="1" style="width:100%">
<div class="player_leaderboard">
<p>Player(s)</p>
</div>
<div class="points_leaderboard">
<p>Points</p>
</div>
<% @players.each do |player| %> 
  <tr>
    <td><%= player.email %></td> 
    <td><%= player.points %></td>
  </tr>
<% end %>
</table>

<div class="start">

<%= button_to 'Start Game', categories_path, :id => "open-contacts-dialog-btn",
:class => "button", :method => :get %>
</div>
