<div class ="developer">
<div class="container marketing">
<h1>Developer Team</h1>


<div class="row">
	
        <div class="col-lg-5">
          <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/09a/3e8/182ad00.jpg" alt="Enide Dufresne" style="width: 200px; height: 200px;">
          <h2>Enide Dufresne</h2>
          <p>"Code is what I do!"</p>
          <p>786.389.6149</p>
          <p><a href="mailto:enide.dufresne@gmail.com">enide.dufresne@gmail.com</a></p>
          <p><a class="btn btn-default" href="https://github.com/enidedufresne?tab=repositories" role="button">Git Hub</a></p>
          <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=14576249&trk=nav_responsive_tab_profile" role="button">LinkedIn</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-2"></div>
        <div class="col-lg-5">
          <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAANKAAAAJDc2NzhkZTMzLTc4OTQtNDc2Zi1iOTkxLWZjOTg2MzE2YjA2NQ.jpg" alt="Alex Moraleza" style="width: 200px; height: 200px;">
          <h2>Alex Moraleza</h2>
          <p>"I love Ruby on Rails."</p>
          <p>305.498.5411</p>
          <p><a href="mailto:alexanderbusta@hotmail.com">AMoraleza@outlook.com</a></p>
          <p><a class="btn btn-default" href="https://github.com/AMoraleza?tab=repositories" role="button">Git Hub</a></p>
          <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=355346899&authType=name&authToken=KwzR&trk=hp-props-feed-member-name&sl=NPU_PC%3B14576249-1426110914431-826bb4d6a31dd9c72a466e4591f2af68%3B-1%3Bactivity%3A5981237922106527744%3B10%3B0%3B" role="button">LinkedIn</a></p>
        </div><!-- /.col-lg-4 -->
</div>

<div class="row">
	<div class="col-sm-4"><br><p>              </p><br><p>              </p></div>
</div>

	<h3>Special Thanks!</h3>
	<div class="col-sm-4"></div>
	 <div class="col-lg-4">
          <img class="img-circle" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/117/s300/wyncode-logo.jpeg" alt="Wyncode" style="width: 140px; height: 140px;">
          <h5>To all of the members of the Wyncode Administration and Teaching Team</h5>
          <p>We could not have accomplished all of this wonderful code without your support. Thank you!</p>
        </div><!-- /.col-lg-4 -->
      </div>
     <div class="col-sm-4"></div>
</div>