
<div class="question">
	
	<%= @question.text %>
	
		<% @question.options.each do |option| %>
		
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to option.text, responses_path(option: option.id), method: :post  %></li>
		</ul> <!-- nav nav-pills nav-stacked -->
	<% end %>
</div> <!-- question -->