<h1>Pick an artist.</h1>

<%= button_to "Beyonce", questions_path, :method => "get" %>
<%= button_to "Ashanti", questions_path, :method => "get" %>
<%= button_to "Taylor Swift", questions_path, :method => "get" %>