/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
centered all  headers and tags in center*/

.music {
	text-align: center;
}

.rap {
	text-align: center;
}

.rasta {
	text-align: center;
	font-size: 40px;
}

.slow-jamz {
	text-align: center;
	font-size: 50px;
}

.Hip-hop {
	text-align: center;
}

.artists {
	text-align: center;
}

.jigga {
	text-align: center;
}

.cube {
	text-align: center;
	font-size: 40px;
}

.musician {
	text-align: center;
	font-size: 40px;
}

.quiz {
	text-align: center;
}

.genre {
	text-align: center;
}

.youtube {
	text-align: center;
}

