
<section class="genre2">
<div class="music">
<h1>Choose a Genre</h1>
</div>


<!-- Displays all the categories on the category page(Hip-Hop, Reggae, and R&B). -->

<div class="genre">
 <% @categories.each do |category| %>

	 <li><%= link_to category.name, category %></li>
 	<% end %>
 </section>
</div>
<div class="back">
<%= link_to 'Back', dashboard_index_path %>
</div>



