<!-- Displays all artist names from each genre of music. -->
<section class="styling_artist_page">
<div class="container marketing">

<div class="pick_an_artist">
<h1>Artists</h1>
<h5>Choose from among your favorite artists and musicians</h5>
</div><!--  pick_an artist -->


<div class="artists">
<% @category.artists.each do |artist| %>

	<div class="col-md-8 col-md-4">
	<div class="mythumbnail">

	<div class="<%= artist.name %>">
		<h3>
			<%= link_to artist.name, category_artist_path(artist.category, artist), class: 'qwerty' %>
		</h3>
		<!-- JQUERY!!! for clickable action to tumbnail -->
	</div><!-- artist.name -->
 </div><!-- mythumbnail -->
</div><!-- col-md-6 col-sm-3 -->
 	<% end %> 
</div><!-- artists -->

<div class="choose_another_genre">
<%= button_to 'Pick another genre', categories_path, :id => "open-contacts-dialog-btn",
:class => "button", :method => :get %>
</div> <!-- artists -->
</div> <!-- choose_another_genre -->

</div>
</section> <!-- styling_artist_page -->
<!-- inbox-sf-add-btn tip -->