
<div class="pick_an_artist">
<h1>Pick an artist</h1>
</div>
<!-- Displays all artists name from each genre of music. -->

<div class="artists">
<% @category.artists.each do |artist| %>
<ul class="nav nav-pills nav-stacked">

	<li><%= link_to artist.name, category_artist_path(artist.category, artist) %></li>
</ul>
<% end %>
</div>
